#home, #classify {
  width: 100%;
  height: 100%;
  background: #f3f4f5; }
  #home .home_head, #classify .home_head {
    z-index: 10;
    position: fixed;
    width: 100%;
    background: #fff;
    top: 0; }
    #home .home_head .home_head_up, #classify .home_head .home_head_up {
      margin-top: 0.06rem;
      width: 100%;
      height: 0.4rem;
      line-height: 0.4rem; }
      #home .home_head .home_head_up .head_up_left, #classify .home_head .home_head_up .head_up_left {
        float: left;
        position: relative; }
        #home .home_head .home_head_up .head_up_left a, #classify .home_head .home_head_up .head_up_left a {
          font-size: 14px;
          display: inline-block;
          margin-right: 0.05rem;
          color: #898989; }
        #home .home_head .home_head_up .head_up_left .dogdog, #classify .home_head .home_head_up .head_up_left .dogdog {
          margin-left: 0.1rem; }
        #home .home_head .home_head_up .head_up_left .area, #classify .home_head .home_head_up .head_up_left .area {
          margin-left: 0.05rem; }
        #home .home_head .home_head_up .head_up_left .littleBorder, #classify .home_head .home_head_up .head_up_left .littleBorder {
          border-right: 0.01rem solid #999; }
        #home .home_head .home_head_up .head_up_left i, #classify .home_head .home_head_up .head_up_left i {
          position: absolute;
          top: 20px;
          right: -6px;
          border-width: 4px;
          font-size: 0;
          line-height: 0;
          border-style: solid solid dotted;
          border-color: #898989 transparent transparent; }
      #home .home_head .home_head_up .head_up_center, #classify .home_head .home_head_up .head_up_center {
        float: left;
        margin-left: 0.13rem;
        position: relative; }
        #home .home_head .home_head_up .head_up_center input, #classify .home_head .home_head_up .head_up_center input {
          line-height: 0.25rem;
          height: 0.25rem;
          width: 2.34rem;
          background: #eee;
          border: 0;
          text-indent: 0.1rem;
          border-radius: 0.05rem; }
        #home .home_head .home_head_up .head_up_center span, #classify .home_head .home_head_up .head_up_center span {
          display: inline-block;
          width: 0.11rem;
          height: 0.11rem;
          background: url(https://static.epetbar.com/static_web/wap/dist/images/search.png) no-repeat;
          background-size: contain;
          position: absolute;
          top: 0.15rem;
          right: 0.06rem; }
      #home .home_head .home_head_up .head_up_right, #classify .home_head .home_head_up .head_up_right {
        float: left;
        display: inline-block;
        width: 0.25rem;
        height: 0.25rem;
        background: url(https://static.epetbar.com/static_web/wap/src/images/mydope.png) no-repeat;
        background-size: contain;
        margin-top: 0.08rem;
        margin-left: 0.1rem; }
    #home .home_head .home_head_down, #classify .home_head .home_head_down {
      width: 100%;
      height: 0.36rem;
      line-height: 0.36rem;
      font-size: 14px;
      margin-top: 0.05rem;
      overflow: hidden; }
  #home .home_banner, #classify .home_banner {
    margin-top: 0.87rem;
    width: 100%;
    height: 1.6rem; }
    #home .home_banner img, #classify .home_banner img {
      width: 100%; }
  #home .home_mengzhua, #classify .home_mengzhua {
    margin-top: 0; }
  #home .columnNav, #classify .columnNav {
    width: 100%;
    height: 1.8rem;
    background: #ff0; }
    #home .columnNav ul, #classify .columnNav ul {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap; }
      #home .columnNav ul li, #classify .columnNav ul li {
        width: 20%;
        height: 50%;
        list-style: none; }
        #home .columnNav ul li img, #classify .columnNav ul li img {
          width: 100%;
          height: 100%; }
  #home .newPeople, #classify .newPeople {
    width: 100%;
    height: 1.2rem; }
    #home .newPeople img, #classify .newPeople img {
      width: 100%; }
  #home .surprise, #classify .surprise {
    background: #fff;
    width: 100%;
    height: 1.7rem;
    margin-bottom: 0.1rem; }
    #home .surprise .up, #classify .surprise .up {
      width: 98%;
      height: 0.19rem; }
      #home .surprise .up .left img, #classify .surprise .up .left img {
        float: left;
        width: 0.85rem;
        height: 0.19rem; }
      #home .surprise .up .left .session, #classify .surprise .up .left .session {
        float: left; }
      #home .surprise .up .left .more, #classify .surprise .up .left .more {
        display: inline-block;
        width: 0.67rem;
        height: 0.34rem;
        float: right; }
        #home .surprise .up .left .more img, #classify .surprise .up .left .more img {
          width: 100%;
          height: 100%; }
    #home .surprise .down, #classify .surprise .down {
      width: 100%;
      height: 1.3rem;
      overflow: hidden; }
      #home .surprise .down ul, #classify .surprise .down ul {
        height: 100%;
        overflow: hidden; }
        #home .surprise .down ul li, #classify .surprise .down ul li {
          float: left;
          margin: 0 0.3rem; }
          #home .surprise .down ul li img, #classify .surprise .down ul li img {
            width: 0.845rem;
            height: 0.845rem; }
  #home .home_zone, #classify .home_zone {
    width: 100%;
    height: 2.5rem;
    display: flex; }
    #home .home_zone .left, #classify .home_zone .left {
      flex: 1;
      width: 50%; }
      #home .home_zone .left img, #classify .home_zone .left img {
        width: 100%;
        height: 100%; }
    #home .home_zone .right, #classify .home_zone .right {
      flex: 1;
      width: 50%; }
      #home .home_zone .right div, #classify .home_zone .right div {
        width: 100%;
        height: 50%; }
        #home .home_zone .right div img, #classify .home_zone .right div img {
          width: 100%;
          height: 100%; }
  #home .con1, #classify .con1 {
    width: 100%;
    height: 1.6rem;
    margin-top: 0.1rem; }
    #home .con1 img, #classify .con1 img {
      width: 100%;
      height: 100%; }
  #home .chaopin, #classify .chaopin {
    margin-top: 0.1rem;
    width: 100%;
    height: 0.87rem;
    background: #fff; }
    #home .chaopin div, #classify .chaopin div {
      float: left;
      width: 1.87rem;
      height: 0.72rem;
      margin-top: 0.05rem;
      margin-left: 0.1rem; }
      #home .chaopin div img, #classify .chaopin div img {
        width: 100%;
        height: 100%; }
    #home .chaopin a, #classify .chaopin a {
      float: right;
      display: inline-block;
      width: 0.6rem;
      height: 0.55rem;
      margin-top: 0.15rem; }
      #home .chaopin a img, #classify .chaopin a img {
        width: 100%;
        height: 100%; }
  #home .video, #classify .video {
    background: #fff;
    width: 100%;
    height: 2.7rem; }
    #home .video .video_head, #classify .video .video_head {
      width: 100%;
      height: 2.11rem; }
      #home .video .video_head img, #classify .video .video_head img {
        width: 100%; }
    #home .video .videoContent, #classify .video .videoContent {
      padding: 0.1rem;
      font-size: 12px; }
      #home .video .videoContent .videoTitle, #classify .video .videoContent .videoTitle {
        height: 0.19rem;
        text-align: center; }
      #home .video .videoContent .down, #classify .video .videoContent .down {
        color: #999;
        height: 0.19rem;
        text-align: center; }
        #home .video .videoContent .down p, #classify .video .videoContent .down p {
          display: inline-block; }
        #home .video .videoContent .down .left, #classify .video .videoContent .down .left {
          margin-right: 0.1rem; }
          #home .video .videoContent .down .left span, #classify .video .videoContent .down .left span {
            display: inline-block;
            width: 0.15rem;
            height: 0.11rem; }
            #home .video .videoContent .down .left span img, #classify .video .videoContent .down .left span img {
              width: 100%;
              height: 100%; }
        #home .video .videoContent .down .right span, #classify .video .videoContent .down .right span {
          display: inline-block;
          width: 0.01rem;
          height: 0.12rem;
          background: #999;
          margin-right: 0.1rem; }
  #home .fourCon, #classify .fourCon {
    margin-top: 0.1rem;
    width: 100%;
    height: 2rem; }
    #home .fourCon .left, #classify .fourCon .left {
      float: left;
      width: 50%;
      height: 100%; }
      #home .fourCon .left div, #classify .fourCon .left div {
        height: 50%;
        width: 100%; }
        #home .fourCon .left div img, #classify .fourCon .left div img {
          width: 100%;
          height: 100%; }
    #home .fourCon .right, #classify .fourCon .right {
      float: left;
      width: 50%;
      height: 100%; }
      #home .fourCon .right div, #classify .fourCon .right div {
        height: 50%;
        width: 100%; }
        #home .fourCon .right div img, #classify .fourCon .right div img {
          width: 100%;
          height: 100%; }
  #home .line, #classify .line {
    margin-top: 0.1rem;
    width: 100%;
    height: 0.3rem; }
    #home .line img, #classify .line img {
      width: 100%; }
  #home .home_our, #classify .home_our {
    margin-bottom: 0.55rem;
    width: 100%;
    height: 0.86rem;
    background: #fff;
    font-size: 14px; }
    #home .home_our ul, #classify .home_our ul {
      padding-top: 0.3rem;
      text-align: center; }
      #home .home_our ul li, #classify .home_our ul li {
        display: inline-block;
        margin-right: 0.15rem; }
        #home .home_our ul li a, #classify .home_our ul li a {
          display: block; }
    #home .home_our .down, #classify .home_our .down {
      font-size: 12px;
      text-align: center;
      margin-top: 0.06rem; }
  #home .home_foot, #classify .home_foot {
    background: #fff;
    z-index: 10;
    height: 0.55rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0; }
    #home .home_foot ul, #classify .home_foot ul {
      width: 100%;
      height: 100%;
      display: flex; }
      #home .home_foot ul li, #classify .home_foot ul li {
        list-style: none;
        width: 25%;
        height: 100%; }
        #home .home_foot ul li a, #classify .home_foot ul li a {
          height: 0.4rem;
          width: 0.42rem;
          display: inline-block;
          margin-top: 0.1rem;
          margin-left: 0.2rem; }
        #home .home_foot ul li .foot_home, #classify .home_foot ul li .foot_home {
          background: url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat 0px 0px;
          background-size: 2.34rem 1.63rem; }
        #home .home_foot ul li .foot_classify, #classify .home_foot ul li .foot_classify {
          background: url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat -85px -41px;
          background-size: 2.34rem 1.63rem; }
        #home .home_foot ul li .foot_cart, #classify .home_foot ul li .foot_cart {
          background: url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat -85px -82px;
          background-size: 2.34rem 1.63rem; }
        #home .home_foot ul li .foot_my, #classify .home_foot ul li .foot_my {
          background: url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat -87px -124px;
          background-size: 2.34rem 1.63rem; }

.mark {
  background: #f60; }

.head_border {
  border-bottom: 0.02rem solid #0f0; }
