.foot2_home {
  background: url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat -85px 0px;
  background-size: 2.34rem 1.63rem; }

.foot2_classify {
  background: url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat 0px -40px;
  background-size: 2.34rem 1.63rem; }
