.foot2_home{
	background:url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat -85px 0px;
	background-size:2.34rem 1.63rem;
}
.foot2_classify{
	background:url(https://static.epetbar.com/static_web/wap/dist/images/background/img.png) no-repeat 0px -40px;
	background-size:2.34rem 1.63rem;
}
.classify_mark{
	border-bottom:2px solid #ed4044;
	color:#ed4044;
	padding-bottom:0.1rem;
}
#classify{
	.classify_head{
		box-sizing:border-box;
		height:0.4rem;
		line-height:0.4rem;
		width:100%;
		background:#fff;
		display:flex;
		border-bottom:0.01rem solid #cbcbcb;
		div{
			font-weight:bold;
			font-size:13px;
			width:50%;
			height:100%;
		}
		.left{
			text-align:right;
			margin-right:5%;
		}
		.right{
			margin-left:5%;
			text-align:left;
		}
	}
}