#register .text {
  width: 100%;
  padding-left: 16px;
  height: 0.5rem;
  box-sizing: border-box; }
  #register .text p {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #e2e2e2;
    box-sizing: border-box;
    padding: 10px 0px 10px 25px;
    background: url(https://static.epetbar.com/mpet/images/login/ico1.png) no-repeat left center;
    background-size: 10px 17px; }
    #register .text p input {
      width: 100%;
      height: 100%;
      border: 0px;
      outline: none; }
    #register .text p input::-webkit-input-placeholder {
      color: #b8b8b8; }
    #register .text p input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #b8b8b8; }
    #register .text p input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #b8b8b8; }
    #register .text p input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #b8b8b8; }

#register .next {
  width: 100%;
  height: 0.3rem;
  box-sizing: border-box;
  padding: 0px 40px;
  margin-top: 50px; }
  #register .next a {
    display: block;
    width: 100%;
    height: 100%;
    background: #d7d7d7;
    border-radius: 20px;
    line-height: 30px;
    text-align: center;
    color: white; }
