

#login{
	header{
		background:url(//img1.epetbar.com/2017-09/21/11/2ac7b0a4f0ab1e4a63819e0668d1cb39.png) no-repeat center;
		background-size:cover;
		h1{
			width:100%;
			height:0.5rem;
			padding:0 10px;
			box-sizing:border-box;
			a.back{
				width:0.22rem;
				height:0.2rem;
				display:inline-block;
				background:url(https://static.epetbar.com/mpet/images/personal-bico3.png) no-repeat center;
				background-size:12px 17px;
				float:left;
				font-weight:100;
				margin-top:16px;
			}
			.register{
				float:right;
				width:0.5rem;
				height:0.5rem;
				a{
					font-size:15px;
					font-weight:100;
					line-height:0.5rem;
					color:#fff;
				}
			}
		}
		h2{
			width:100%;
			display:flex;
			img{
				margin:auto;
				width:20%;
			}
		}
		h3{
			display:flex;
			a{
				flex:1;
				text-align:center;
				text-decoration: none;
				font-weight: 100;
				font-size:15px;
				height:0.44rem;
				background:rgba(255,255,255,0.3);
				line-height:0.44rem;
				color:#fff;
			}
		}
	}
	.content{
		width:100%;
		padding:0 16px;
		box-sizing: border-box;
		
		.mform{
			width:100%;
			list-style: none;
			li{
				padding:12px 0px 12px 30px;
				height:46px;
				box-sizing:border-box;
				border-bottom:1px solid #e2e2e2;
				input{
					width:100%;
					height:16px;
					border:0;
					float:left;
					outline:none;
				}

			}
			li:nth-of-type(1){
				background:url(https://static.epetbar.com/mpet/images/ico3.png) no-repeat left center;
				background-size:6%;
			}
			li:nth-of-type(2){
				background:url(https://static.epetbar.com/mpet/images/ico4.png) no-repeat left center;
				background-size:6%;
			}

		}
	}
	.forgetPW{
		width:100%;
		padding:0px 16px;
		box-sizing:border-box;
		line-height:0.2rem;
		text-align:right;
		margin-top:10px;
		font-size:14px;
		color:#898989;
	}
	.loginBtn{
		width:100%;
		height:0.44rem;
		box-sizing:border-box;
		padding:5px 16px;
		margin-top:10px;
		a{
			width:100%;
			line-height:0.34rem;
			display: block;
			text-align: center;
			background:#2ec975;
			border-radius:5px;
			color:#fff;
			font-size:16px;
		}
	}
	.otherLogin{
		margin-top: 1rem;
		p{
			font-size:16px;
			color:#d7d7d7;
			text-align: center;
		}
		ul{
			width:100%;
			display:flex;
			margin-top:15px;
			li{
				width:33.3%;
				text-align:center;
				img{
					width:40%;
					display:inline-block;
				}
			}
		}
	}
}